/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
/* Styles moved from main.ts */

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plugin-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.reset-button {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    align-self: flex-end;
}
